<div class="container">
  <div class="d-flex justify-content-center mb-2">
    <h4 class="mr-5">
      our students
    </h4>
    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="callPage($event)">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr class="table-head">
        <th scope="col">No</th>
        <th scope="col">first name</th>
        <th scope="col">last name</th>

        <th scope="col">see more</th>
      </tr>
    </thead>
    <tbody>
      <!-- ; [ngbTooltip]="user.name" -->
      <tr *ngFor="let sudent of ourData">
        <th scope="row">{{ sudent.id }}</th>
        <td>{{ sudent?.first_name }}</td>
        <td>{{ sudent?.last_name }}</td>


        <td><a [routerLink]="['/student',sudent.id]" class="text-golden"><i class="fa fa-info-circle"></i> more Details </a></td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center mb-5">

    <ngb-pagination (pageChange)="callPage($event)" [pageSize]="pageSize" [collectionSize]="totallengthForData" [(page)]="page" [maxSize]="5"
    [boundaryLinks]="true"></ngb-pagination>

  </div>

</div>
