

<div class="site-footer d-flex justify-content-center">
  <div class="container">
    <div class="row ">
      <div class="col-lg-3 d-flex justify-content-center">
        <div class="widget">
          <h3>Home</h3>
          <ul class="list-unstyled    ">
            <li><a href="#">About us</a></li>
            <li><a href="#">Practice Area</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Attorneys</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 d-flex justify-content-center">
        <div class="widget">
          <h3>Practice Area</h3>
          <ul class="list-unstyled   ">
            <li><a href="#">Banking Law</a></li>
            <li><a href="#">Commercial Law</a></li>
            <li><a href="#">Corporate Law</a></li>
            <li><a href="#">Family Law</a></li>
            <li><a href="#">Media Law</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 d-flex justify-content-center">
        <div class="widget">
          <h3>Services</h3>
          <ul class="list-unstyled   ">
            <li class=""><a href="#" >Labor Law</a></li>
            <li class=""><a href="#" >Employment</a></li>
            <li class=""><a href="#" >Property Law</a></li>
            <li class=""><a href="#" >Prosecution</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 d-flex justify-content-center">
        <div class="widget">
          <h3>Contact</h3>
          <address style="color: #dddde6;">43 Raymouth Rd. Baltemoer, London 3910</address>
          <ul class="list-unstyled   mb-4">
            <li><a href="tel://11234567890">+1(123)-456-7890</a></li>
            <li><a href="tel://11234567890">+1(123)-456-7890</a></li>

          </ul>
          <h3>Connect</h3>
          <ul class="list-unstyled social">
            <li>
              <a href="#"><span class="fa fa-instagram"></span></a>
            </li>
            <li>
              <a href="#"><span class="fa fa-twitter"></span></a>
            </li>
            <li>
              <a href="#"><span class="fa fa-facebook"></span></a>
            </li>
            <li>
              <a href="#"><span class="fa fa-linkedin"></span></a>
            </li>
            <li>
              <a href="#"><span class="fa fa-pinterest"></span></a>
            </li>
            <li>
              <a href="#"><span class="fa fa-dribbble"></span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 text-center final-section-in-footer">
        <p>
          Copyright &copy;
          <script
            data-cfasync="false"
            src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
          ></script>
          <script>
            document.write(new Date().getFullYear());
          </script>
          All rights reserved for legal House .. developed by engineer /
          <a class="text-golden" href="https://www.facebook.com/abdelrahman.hesham.5815/" target="_blank">Abdelrahman Hesham</a>
        </p>
      </div>
    </div>
  </div>
</div>
