
.site-footer {
  padding: 70px 0;
  background-color: #2d2d34;
max-width: 100%; }
  .site-footer a {
    position: relative;
    display: inline-block;
   }
    .site-footer a:before {
      position: absolute;
      left: 0;
      right: 0;
      content: "";
      background: rgba(180, 156, 115, 0.1);
      height: 20%;
      width: 100%;
      bottom: 0;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
    .site-footer a:hover {
      color: #ffffff; }
      .site-footer a:hover:before {
        background: #b49c73; }
  .site-footer .btn:before {
    display: none; }
  .site-footer .widget {
    margin-bottom: 40px;
    display: block; }
    .site-footer .widget h3 {
      font-size: 16px; }
    .site-footer .widget .links {
      width: 150px; }
      .site-footer .widget .list-unstyled li {
        margin-bottom: 10px; }
  .site-footer .social li {
    display: inline-block; }
    .site-footer .social li a {
      display: inline-block;
      width: 30px;
      height: 30px;
      position: relative;
      background: #b49c73;
      border-radius: 4px;
      color: #ffffff; }
      .site-footer .social li a:before {
        display: none; }
      .site-footer .social li a > span {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .site-footer .social li a:hover {
        background: #c6b394;
        color: #ffffff; }

        ul li a{
          color : #c6b394
        }
        h3{
          color: #dddde6;
        }
.final-section-in-footer p{
  color :white
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {

  /* Pull out the header and footer */
  .site-footer {
    position: fixed;
    bottom: 0;
    padding: 70px 0;
  background-color: #2d2d34;
max-width: 100%;
  }

}
